html, body {
  height: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
}

.full-height {
    min-height: 100vh;
}

.estimation-button-container {
  overflow-y: auto;
}

.estimation-button-container > button {
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}

